.column {
    float: left;
    padding: 10px;
    margin:10px;
  }

  .outerleft{
    width: 20%;
    height: 100vh;
  }

  .outerright {
    width: 100%;
  }


  .innerleft{
    width: 40%;
  }

  .innerright{
    width: 40%;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .matchart{
    margin: 10px;
  }

  /* BUTTONS */

  .mat-card-actions {
    display: flex;
    justify-content: flex-end;
    margin-left: 5%;
    margin-right: 16%;
  }

  .mat-spacer {
    flex-grow: 1; /* Allow the spacer to grow and push the last button to the right */
  }

  .mat-left-buttons {
    margin: 2px;
    font-size: 16px;
    padding: 12px 24px;
  }

  .mat-right-buttons {
    margin: 2px;
    font-size: 16px;
    padding: 12px 24px;
  }


