<div class="row">
    <div class="column outerleft">
        <app-profile></app-profile>
    </div>
    <mat-card class="matchart">
        <mat-card-header>
          <mat-card-title>EEG</mat-card-title>
          <mat-card-subtitle>{{subtitleEEG}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="column outerright">
            <div class="column innerleft">
                <app-bwchart [chartTitle]="chartTitleActive" [chartData]="chartDataActive" [chartElectrodeArray]="chartElectrodeArray"></app-bwchart><br>
            </div>
            <div class="column innerright">
                <app-bwchart [chartTitle]="chartTitleRest" [chartData]="chartDataRest" [chartElectrodeArray]="chartElectrodeArray"></app-bwchart>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions class="mat-card-actions">
          <button mat-raised-button class="mat-left-buttons" style="color:white; background-color: #797979" (click)="onUpdateEEG(BrainWaves.DELTA)">DELTA</button>
          <button mat-stroked-button class="mat-left-buttons" style="color:white; background-color: #797979" (click)="onUpdateEEG(BrainWaves.THETA)">THETA</button>
          <button mat-stroked-button class="mat-left-buttons" style="color:white; background-color: #797979" (click)="onUpdateEEG(BrainWaves.ALPHA)">ALPHA</button>
          <button mat-stroked-button class="mat-left-buttons" style="color:white; background-color: #797979" (click)="onUpdateEEG(BrainWaves.BETA)">BETA</button>
          <button mat-stroked-button class="mat-left-buttons" style="color:white; background-color: #797979" (click)="onUpdateEEG(BrainWaves.GAMMA)">GAMMA</button>
          <div class="mat-spacer"></div> <!-- Add a spacer to push the button to the right -->
          <button mat-raised-button class="mat-left-buttons" style="color:white; background-color: #15af89" (click)="navigateToBWDetails()">DETAILS</button>
        </mat-card-actions>
    </mat-card>
</div>
